.sec-main-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
}
.GetStarted {
  background-color: white;
  color: rgb(6, 6, 6);
  padding: 10px;
  border: 2px brown solid;
  width: 150px;
  cursor: pointer;
  font-size: 13px;
}
.content-container {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  gap: 1rem;
}
.subtitle-content {
  font-size: 0.8em;
  font-family: monospace;
}
.get-started {
  display: flex;
  align-items: center;
  gap: 1rem;
}
